<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xbrandapps.coursefire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coursefire"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coursefire_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseFire">
        <activity
            android:name=".DSAActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".PythonSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".JavaSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".CSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Choose_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>